{% load static %}

    <!-- Plugin JS File -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/parallax/parallax.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/zoom/jquery.zoom.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static 'assets/js/main.min.js' %}"></script>
    <script src="{% static 'assets/js/cart.js' %}"></script>