{% extends "base/layout.html" %}
{% load static %}



{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div >

{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}


<main class="main login-page">
  <!-- Start of Page Header -->
  <div class="page-header">
      <div class="container">
          <h1 class="page-title mb-0">My Account</h1>
      </div>
  </div>
  <!-- End of Page Header -->

  <!-- Start of Breadcrumb -->
  <nav class="breadcrumb-nav">
      <div class="container">
          <ul class="breadcrumb">
              <li><a href="demo1.html">Home</a></li>
              <li>My account</li>
          </ul>
      </div>
  </nav>
  <!-- End of Breadcrumb -->
  <div class="page-content">
      <div class="container">
          <div class="login-popup">
              <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                  <ul class="nav nav-tabs text-uppercase" role="tablist">
                      <li class="nav-item">
                          <a href="#sign-in" class="nav-link active">Sign In</a>
                      </li>
                      
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="sign-in">

                        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}


                          <div class="form-row form-group">
                            {{ form.username.errors }}
                            <label>{{ form.username.label_tag }} </label>
                            {{ form.username }}
                          </div>


                          <div class="form-row form-group mb-0">
                            {{ form.password.errors }}
                            <label> {{ form.password.label_tag }} </label>
                            {{ form.password }}
                            <input type="hidden" name="next" value="{{ next }}">
                          </div>
  
                          <div class="submit-row">
                            <input type="submit"  class="btn btn-primary" value="{% translate 'Log in' %}">
                          </div>
                        </form>
                        <a href="{{ password_reset_url }}">Forgotten your password or username? </a>
                      </div>


                  </div>
                  {% comment %} <p class="text-center">Sign in with social account</p>
                  <div class="social-icons social-icon-border-color d-flex justify-content-center">
                      <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                      <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                      <a href="#" class="social-icon social-google fab fa-google"></a>
                  </div> {% endcomment %}
              </div>
          </div>
      </div>
  </div>
</main>


{% endblock %}
