{% extends "base/layout.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="container py-5">
	<div class="login-popup">
	<div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
		<ul class="nav nav-tabs text-uppercase" role="tablist">
			<li class="nav-item">
				<a href="#sign-in" class="nav-link active">Sign Up</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="sign-in">
				<form class="row form-group mt-4 mb-4" method="POST">
					{% csrf_token %}
					{% for field in register_form %}
					    <div class="row form-group mb-2">
							<label for="{{ field.name}}" class='mb-1 col-sm-12 col-form-label'>{{ field.label}}</label>
							<div class='mb-1 col-sm-12'>{{ field|add_class:"form-control " }}</div>
						</div>
					{% endfor %}
					<button class="btn btn-primary" type="submit">Register</button>
				</form>

				<p class="text-center">If you already have an account, <a href={% url 'login' %} >login</a> instead.</p>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}