{% load static %}



<script src="{% static 'admin/assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'admin/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'admin/assets/js/feather.min.js' %}"></script>

<script src="{% static 'admin/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script src="{% static 'admin/assets/js/script.js' %}"></script>