



        <form action="#" method="POST" class="review-form">
            
            {% csrf_token %}
           {% comment %}  <div class="rating-form">
                <label for="rating">Your Rating Of This Product :</label>
                <span class="rating-stars">
                    <a class="star-1" href="#">1</a>
                    <a class="star-2" href="#">2</a>
                    <a class="star-3" href="#">3</a>
                    <a class="star-4" href="#">4</a>
                    <a class="star-5" href="#">5</a>
                </span>
                <select name="rating" id="rating" required=""
                    style="display: none;">
                    <option value="">Rate…</option>
                    <option value="5">Perfect</option>
                    <option value="4">Good</option>
                    <option value="3">Average</option>
                    <option value="2">Not that bad</option>
                    <option value="1">Very poor</option>
                </select>
            </div> {% endcomment %}
           
            {{add_review}}
            <button type="submit" class="btn btn-dark">Submit
                Review</button>
        </form>


