{% extends "base/layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<main class="main">
    <!-- Start of Page Header -->

    {% include './nav_bar_account.html' %}
    <!-- Start of PageContent -->
    <div class='container'>

        <form class="row form-group mt-4 mb-4" id="productform" method="post" enctype="multipart/form-data" data-cities-url="{% url 'load_sub_categoires' %}">
            {% csrf_token %}
            {% for error in errors  %}
            <div class="alert alert-danger mb-4" role="alert">
                    <strong>{{ error }}</strong>
                </div>
        {% endfor %}
            {{ form.media }} 
            {% for field in product_form %}
            <div class="row form-group mb-2">
              <label for="{{ field.name}}" class='mb-1 col-sm-2 col-form-label'>{{ field.label}}</label>
              <div class='mb-1 col-sm-10'>
                  {{ field|add_class:"form-control " }}
              </div>
              
           </div>
        {% endfor %}
        <h2>Add images slider</h2>
        {{ ProductImagesFormSet.management_form }}
        <div class='row' >
            {% for form in ProductImagesFormSet %} 
            <div class='col-md-3' >
                {{ form }}
                <img src="{{form.instance.image.url}}"/>
            </div>
            
            {% endfor %}

        </div>

            <button class="btn btn-primary"
                    type="submit">update product
            </button>
        </form>
   

  
    <!-- End of PageContent --></div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_category").change(function () {
        const url = $("#productform").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'id_category': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_sub_category").html(data);  // replace the contents of the city input with the data that came from the server
                
                /* 
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                  html_data += `<option value="${id_sub_category.id}">${id_sub_category.title}</option>`
                });
                console.log(html_data);
                $("#id_sub_category").html(html_data);
*/
                
            }
        });

    });
</script>

{%endblock content%}