{% extends "base/adminlayout.html" %} {% load static %} {% block content %}
<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Products list</h3>
      </div>
    </div>
  </div>

  <div class="card invoices-tabs-card">
    <div class="card-body card-body pt-0 pb-0">
      <div class="invoices-main-tabs">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-8"></div>
          <div class="col-lg-4 col-md-4">
            <div class="invoices-settings-btn">
              <a href="invoices-settings.html" class="invoices-settings-icon">
                <i data-feather="settings"></i>
              </a>
              <a href="{% url 'store_product_create' %}" class="btn">
                <i data-feather="plus-circle"></i> New Product
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive" style='min-height: 500px;'>
            <table class="table table-stripped table-hover datatable">
              <thead class="thead-light">
                <tr>
                  <th>Product ID</th>
                  <th>Category</th>
                  <th>Created on</th>

                  <th>Price</th>
                  <th>Stock</th>
                  <th>Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>

                {% for product in products %} 
                <tr>
                  <td>
 
                    <a href="{% url 'store_product_update' product.id %} " class="invoice-link"
                      >{{ product.title }} </a
                    >
                  </td>

                  <td>{{ product.category }}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a href="profile.html">{{product.created}}</a>
                    </h2>
                  </td>
                  <td class="text-primary">{{ product.price }} MAD</td>
                  <td>23 Mar 2022</td>
                  <td>
                    <span class="badge bg-success-light">{{ product.puslish }}</span>
                  </td>
                  <td class="text-end">
                    <div class="dropdown dropdown-action">
                      <a
                        href="#"
                        class="action-icon dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="fas fa-ellipsis-v"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href=" {% url 'store_product_update' product.id %} "
                          ><i class="far fa-edit me-2"></i>Edit</a
                        >
                        <a class="dropdown-item" href="view-invoice.html"
                          ><i class="far fa-eye me-2"></i>View</a
                        >
                        <a class="dropdown-item" href=" {% url 'store_product_delete' product.id %} "
                          ><i class="far fa-trash-alt me-2"></i>Delete</a
                        >
                        <a class="dropdown-item" href="javascript:void(0);"
                          ><i class="far fa-check-circle me-2"></i>Mark as
                          sent</a
                        >
                        <a class="dropdown-item" href="javascript:void(0);"
                          ><i class="far fa-paper-plane me-2"></i>Send
                          Invoice</a
                        >
                        <a class="dropdown-item" href="javascript:void(0);"
                          ><i class="far fa-copy me-2"></i>Clone Invoice</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{%endblock content %}
