{% extends "base/layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<main class="main">
    <!-- Start of Page Header -->

    {% include './nav_bar_account.html' %}
    <!-- Start of PageContent -->
    <div class='container'>

        <form class="row form-group mt-4 mb-4" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }} 
            {% for field in product_form %}
            <div class="row form-group mb-2">
              <label for="{{ field.name}}" class='mb-1 col-sm-2 col-form-label'>{{ field.label}}</label>
              <div class='mb-1 col-sm-10'>
                  {{ field|add_class:"form-control " }}
              </div>
              
           </div>
        {% endfor %}
            <button class="btn btn-primary"
                    type="submit">add product
            </button>
        </form>
   

  
    <!-- End of PageContent --></div>
</main>


{%endblock content%}