{% extends "base/layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<main class="main">
    <!-- Start of Page Header -->

    {% include './account_layout/nav_bar_account.html' %}
    <!-- Start of PageContent -->
    <div class="page-content pt-2">
        <div class="container">

            <form class="row form-group mt-4 mb-4" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }} 
                {% for field in ProfileForm %}
                <div class="row form-group mb-2">
                  <label for="{{ field.name}}" class='mb-1 col-sm-2 col-form-label'>{{ field.label}}</label>
                  <div class='mb-1 col-sm-10'>
                      {{ field|add_class:"form-control " }}
                  </div>
                  
               </div>
            {% endfor %}
                <button class="btn btn-primary"
                        type="submit">update profile
                </button>
            </form>
        </div>
    </div>
    <!-- End of PageContent -->
</main>


{%endblock content%}