{% extends "base/adminlayout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<main class="main">
    <!-- Start of Page Header -->

    {% include './account_layout/nav_bar_account.html' %}
    <!-- Start of PageContent -->
    <div class="page-content pt-2" style="margin-bottom: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                    <h2 class='text-center text-capitalize'>update store info</h2>
                    <form class="" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{ form.media }}
                        <div class='row' >
                            {% for field in ProfileForm %}

                            <div class="form-group row" style="margin: 1rem 0rem; background: whitesmoke;padding: 2rem 0rem;">
                                <label for="{{ field.name}}" class='col-sm-2 col-form-label'style="margin: 1rem 0rem;">{{ field.label}} :</label>
                                <div class='col-sm-10' style=" background: white; border-radius: 5px; margin: 0px; padding: 0px;">
                                    {{ field|add_class:"form-control " }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary w-50"  style="float: right;" type="submit">update store details</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>


{%endblock content%}