{% extends "base/layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<main class="main">
    <!-- Start of Page Header -->

    {% include './account_layout/nav_bar_account.html' %}
    <!-- Start of PageContent -->
    <div class="page-content pt-2">
        <div class="container">

            <form class="row form-group mt-4 mb-4" method="post" enctype="multipart/form-data" style="
            border-radius: 10px;
            border: 2px solid;
            padding: 10px;
        ">
                {% csrf_token %}
                {{ form.media }} 
                <div class='row'>
                    {% for field in ProfileForm %}

                    <div class="form-group col-md-4 mb-3" >
                        <label for="{{ field.name}}" class=''>{{ field.label}}</label>
                        <div class=''>{{ field|add_class:"form-control " }}</div>
                    </div>
                    <br>
                    <br>
                    {% endfor %}
                </div>
                <button class="btn btn-primary"
                        type="submit">update profile
                </button>
            </form>
        </div>
    </div>
    <!-- End of PageContent -->
</main>


{%endblock content%}