{% extends "base/adminlayout.html" %} 
{% load static %} 
{% block content %}




<div class="content container-fluid">
    {% if is_empty %}
        <h1>No profiles to interact with</h1>
    {% endif %}

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-header">
            <h4 class="card-title">My list of Shippers</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-stripped table-center table-hover datatable"
              >
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registered On</th>
                    <th>Role</th>
                    <th>City</th>
                    <th class="text-end">Actions</th>
                  </tr>
                </thead>
                <tbody>

                    {% for shipper in object_list %}
                    {% if request.user  in shipper.shippers.all %} 
                  <tr>
                    <td>
                      <h2 class="table-avatar">
                        <a href=" {% url 'shipper_profile_detail' pk=shipper.pk %} "
                          >
                          {{ shipper }} </a
                        >
                      </h2>
                    </td>
                    <td>
                      <a
                        href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection"
                        >{{ shipper.email }}</a
                      >
                    </td>
                    <td>{{ shipper.phone_number }}</td>
                    <td><span class="text-success">{{ shipper.city }}</span></td>
                    <td>
                      <span class="badge badge-pill bg-success-light"
                        >{{ shipper.city }}</span
                      >
                    </td>
                    <td class="text-end d-flex flex-row-reverse ">


                    
                   

                   
                    
                        <form action=" {% url 'delete-invitations-view' %} " method="POST" class='d-flex justify-content-end'>
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value={{shipper.pk}}>
                          <button type="submit" class="btn btn-sm btn-white text-danger me-2"><i class="minus square icon"></i>Remove from friends</button>
                        </form>
                    
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}