{% extends "base/layout.html" %}
{% load static %}
{% block content %}
<main class="main">
 
        <!-- Start of Pgae Contetn -->
        <div class="page-content mb-8">
            <div class="container">
                <div class="store store-wcfm-banner">
                    <figure class="store-media">
                        <img src={{store.sotre_banner.url}} alt="Vendor" width="1240" height="460"
                        style="background-color: #40475e;height: 460px;width: 1240px;" />
                    </figure>
                    <div class="store-content">
                        <div class="store-content-left mr-auto">
                            <div class="personal-info">
                                <figure class="seller-brand">
                                    <img src={{store.sotre_logo.url}} alt="Brand" width="100"
                                        height="100" />
                                </figure>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="address-info">
                                <h4 class="store-title">{{store.store_name}}</h4>
                                <ul class="seller-info-list list-style-none">
                                    <li class="store-address">
                                        <i class="w-icon-map-marker"></i>
                                        {{store.city}}
                                    </li>
                                    <li class="store-phone">
                                        <a href="tel:123456789">
                                            <i class="w-icon-phone"></i>
                                            {{store.phone_number}}
                                        </a>
                                    </li>
                                    <li class="store-email">
                                        <a href="email:#">
                                            <i class="far fa-envelope"></i>
                                            {{store.email}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="store-content-right">
                            <div class="social-icons social-icons-colored border-thin">
                                {% if store.facebook_link %} 
                                <a href="{{store.facebook_link}}" class="social-icon social-facebook w-icon-facebook"></a>
                                {% endif %}
                                {% if store.twitter_link %}
                                <a href="{{store.twitter_link}}" class="social-icon social-twitter w-icon-twitter"></a>
                                {% endif %}
                                {% if store.watsapp_link %}
                                <a href="{{store.watsapp_link}}" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                                {% endif %}
                                {% if store.instagram_link %}
                                <a href="{{store.instagram_link}}" class="social-icon social-instagram w-icon-instagram"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Store WCMP Banner -->

                <div class="row gutter-lg">
                    <aside class="sidebar left-sidebar vendor-sidebar sticky-sidebar-wrapper sidebar-fixed">
                        <!-- Start of Sidebar Overlay -->
                        <div class="sidebar-overlay"></div>
                        <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                        <a href="#" class="sidebar-toggle"><i class="w-icon-angle-right"></i></a>
                        <div class="sidebar-content">
                            <div class="sticky-sidebar">
                                
                                
                                <!-- End of Widget -->
                                <div class="widget widget-collapsible widget-time">
                                    <h3 class="widget-title"><span><i class="far fa-clock"></i>Store Time</span>
                                    </h3>
                                    <ul class="widget-body">
                                        <li>
                                            <span>Monday:</span>9:00 - 10:00 pm
                                        </li>
                                        <li>
                                            <span>Tuesday:</span>9:00 - 10:00 pm
                                        </li>
                                        <li>
                                            <span>Wednesday:</span>9:00 - 10:00 pm
                                        </li>
                                        <li>
                                            <span>Thursday:</span>9:00 - 2:00 pm
                                        </li>
                                        <li>
                                            <span>Friday:</span>9:00 - 10:00 pm
                                        </li>
                                        <li>
                                            <span>Saturday:</span>9:00 - 10:00 pm
                                        </li>
                                        <li>
                                            <span>Sunday:</span>9:00 - 10:00 pm
                                        </li>
                                    </ul>
                                </div>
                                <!-- End of Widget -->
                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title"><span><i class="w-icon-truck"></i>Shipping Rules</span>
                                    </h3>
                                    <div class="widget-body">
                                        <p class="mb-0">Delivery Time: 1-2 business days</p>
                                    </div>
                                </div>
                                
                                <!-- End of Widget -->
                                <div class="widget widget-collapsible widget-products">
                                    <h3 class="widget-title"><span>Best Selling</span></h3>
                                    <div class="widget-body">
                                        <div class="product product-widget">
                                            <figure class="product-media">
                                                <a href="product-default.html">
                                                    <img src="assets/images/shop/1.jpg" alt="Product" width="100"
                                                        height="106" />
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h4 class="product-name">
                                                    <a href="product-default.html">3D Television</a>
                                                </h4>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                                <div class="product-price">$220.00</div>
                                            </div>
                                        </div>
                                        <div class="product product-widget">
                                            <figure class="product-media">
                                                <a href="product-default.html">
                                                    <img src="assets/images/shop/2-1.jpg" alt="Product" width="100"
                                                        height="106" />
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h4 class="product-name">
                                                    <a href="product-default.html">Alarm Clock With Lamp</a>
                                                </h4>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <ins class="new-price">$30.00</ins><del
                                                        class="old-price">$60.00</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-widget">
                                            <figure class="product-media">
                                                <a href="product-default.html">
                                                    <img src="assets/images/shop/3.jpg" alt="Product" width="100"
                                                        height="106" />
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h4 class="product-name">
                                                    <a href="product-default.html">Apple Laptop</a>
                                                </h4>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                                <div class="product-price">$1,000.00</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Widget -->
                            </div>
                        </div>
                    </aside>
                    <!-- End of Sidebar -->

                    <div class="main-content">
                        <div class="tab tab-nav-underline tab-nav-boxed tab-vendor-wcfm">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#tab-1" class="nav-link active">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-2" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-3" class="nav-link">Policies</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-4" class="nav-link">Reviews(1)</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <nav class="toolbox sticky-toolbox sticky-content fix-top">
                                        <div class="toolbox-left">
                                            <div class="toolbox-item toolbox-sort select-box text-dark">
                                                <label>Sort By :</label>
                                                <select name="orderby" class="form-control">
                                                    <option value="default" selected="selected">Default sorting
                                                    </option>
                                                    <option value="popularity">Sort by popularity</option>
                                                    <option value="rating">Sort by average rating</option>
                                                    <option value="date">Sort by latest</option>
                                                    <option value="price-low">Sort by pric: low to high</option>
                                                    <option value="price-high">Sort by price: high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="toolbox-right">
                                            <div class="toolbox-item toolbox-show select-box">
                                                <select name="count" class="form-control">
                                                    <option value="9">Show 9</option>
                                                    <option value="12" selected="selected">Show 12</option>
                                                    <option value="24">Show 24</option>
                                                    <option value="36">Show 36</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                    </nav>
                                    <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">
                                        {% for store_product in store_products  %}
                                        
                                        
                                        <div class="product-wrap">
                                            <div class="product product-simple text-center">
                                                <figure class="product-media">
                                                    <a href={% url 'product_details' store_product.id %}>
                                                        <img src={{store_product.photo.url}} alt="Product"
                                                            width="300" height="338" />
                                                    </a>
                                                    <div class="product-action-vertical">
                                                        <a href="#"
                                                            class="btn-product-icon btn-wishlist w-icon-heart"
                                                            title="Add to wishlist"></a>
                                                        <a href="#"
                                                            class="btn-product-icon btn-compare w-icon-compare"
                                                            title="Add to Compare"></a>
                                                    </div>
                                                    
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href ={% url 'product_details' store_product.id %}>{{store_product.title}}</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                        <a href="product-default.html" class="rating-reviews">(3
                                                            reviews)</a>
                                                    </div>
                                                    <div class="product-pa-wrapper">
                                                        <div class="product-price">${{store_product.price}}</div>
                                                        <div class="product-action">
                                                            <a  data-product="{{store_product.id}}" data-action="add"
                                            class="btn-cart btn-product btn-primary update-cart btn btn-icon-right btn-link btn-underline">Add
                                            To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    {{store.description|safe}}
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="policies-area">
                                        <h3 class="title">Shipping Policy</h3>
                                        {{store.Shipping_Policy|safe}}
                                    </div>
                                    <div class="policies-area">
                                        <h3 class="title">Refund Policy</h3>
                                        {{store.Refund_Policy|safe}}
                                    </div>
                                    <div class="policies-area">
                                        <h3 class="title text-left">Cancellation / Return / Exchange Policy</h3>
                                        {{store.Return_Policy|safe}}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="review-area">
                                        <h3 class="title font-weight-bold mb-5">Write A Review</h3>
                                        <input name="review" type="text" class="form-control"
                                            placeholder="your review">
                                        <button class="btn btn-rounded">Add Your Review</button>
                                    </div>
                                    <!-- End of Reveiw Area -->
                                    <div class="review-area">
                                        <h3 class="title font-weight-bold mb-5">Reviews</h3>
                                        
                                        <!-- End of Reviewers -->
                                        <div class="review-ratings">
                                            <div class="review-ratings-left mr-auto">
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                    <label>5.0 Feature</label>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                    <label>5.0 Varity</label>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                    <label>5.0 Flexibility</label>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                    <label>5.0 Delivery</label>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                    <label>5.0 Support</label>
                                                </div>
                                            </div>
                                            <!-- End of Review Ratings Left -->
                                            <div class="review-ratings-right">
                                                <div class="average-rating">5.0<sub>/5</sub></div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full mr-0">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Review Ratings Right -->
                                        </div>
                                        <!-- End of Review Ratings -->


                                        <div class="user-wrap">
                                            <div class="user-photo">
                                                <figure>
                                                    <img src=" {% static 'assets/images/vendor/wcfm/avatar.png' %} " alt="Avatar"
                                                        width="113" height="112" />
                                                </figure>
                                                <div class="rated text-center">
                                                    <label>Rated</label>
                                                    <span class="score">5.0</span>
                                                </div>
                                            </div>
                                            <!-- End of User Photo -->
                                            <div class="user-info">
                                                <h4 class="user-name">John Doe</h4>
                                                <div class="user-date mb-7">
                                                    <span>1 Reviews</span>
                                                    <span>April 1, 2021 12:12 Pm</span>
                                                </div>
                                                <p>Diam in arcu cursus euismod quis. Eget sit amet tellusvitae
                                                    sapien pellentesque habitant morbi tristique senectus et.
                                                    Cras adipiscing enim ermentum et sollicitudin ac orci phasellus.
                                                </p>
                                            </div>
                                            <!-- End of User Info -->
                                            
                                        </div>
                                        <!-- End of User Wrap -->
                                    </div>
                                    <!-- End of Reveiw Area -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Main Content -->
                </div>
            </div>
        </div>
        <!-- End of Page Content -->
</main>
{% endblock %}